// Here you can add other styles
//
//html *
//{
  //font-size: 1em !important;
  //color: #f8f8f2 !important;
  //font-family: Arial !important;
//}
//
body {
  width: 100%;
  background-color: whitesmoke;
}

.card {
  //background-color: #282a36;
  //border-color: #282a36;
  border: none;
  padding: none;
}

.example-component {
  //width: 100px;
  //height: 100px;
  //background-color: red;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.example-component.show {
  opacity: 1;
  visibility: visible;
}

.container {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  max-width: 100%;
  padding: 0%;
}

.col {
  padding: 0%;
}

.side-by-side {
  display: flex;
  float:left;
  padding-right: 15px;
}

.padd {
  padding: 5px;
}
//.side-by-side > div {
//  flex: 1; /*grow*/
//}
